.cards {
    width: 100%;
    background-color: var(--bg-color-base);
}

.cards__content {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    padding-top: 60px;
}

.cards__card-image {
    background-color: var(--bg-color-cards);
    padding: 30px 16px;
}
.cards__card-image img {

}

.cards__card-info {
    border: 1px solid var(--bg-color-cards);
    padding: 16px;
}

.cards__card-info h3 {
    color: var(--text-color);
    margin-top: 16px;
}

.cards__card-info p {
    color: var(--element-color);
    margin-top: 16px;
}


.card-button {
    color: var(--text-color-accent);
    border: 1px solid var(--text-color-accent);
    padding: 10.5px 28.5px 10.5px 28.5px;
    margin-top: 16px;
}