.circle-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-family: var(--font-family-secondary);
    font-weight: 700;
    border: 1px solid var(--element-color);
    border-radius: 50%;

}

.circle-block p {
    color: var(--element-color);
    line-height: 1;
    position: relative;
    top: -2px;
}