header {
    background-color: var(--bg-color-base);
}

.header__content {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 125px;
}

.navigation__list {
    display: flex;
    gap: 64px;

}

.header__nav {
    margin-right: auto;
}

.header__buttons {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

a {
    color: var(--text-color);
}