:root {
    --bg-color-base: #1D2F30;
    --text-color:#ffffff;
    --text-color-accent: #BAE249;
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: "Cormorant", serif;
}