:root {
    --bg-color-base: #1D2F30;
    --bg-color-cards: #0B1919;
    --text-color:#ffffff;
    --text-color-accent: #BAE249;
    --element-color:#899D9D;
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: "Cormorant", serif;
}